In [1]:
import pandas as pd 
#header başlığıda içeri aldık
data = pd.read_csv("C:/Users/kekli/Desktop/market.csv",header=None)
veri= data.copy()
veri

                                 0
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [2]:
veri.columns=["Urun"]
veri

                              Urun
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [3]:
veri=list(veri["Urun"].apply(lambda x:x.split(",")))
veri

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [5]:
pip install mlxtend

Collecting mlxtendNote: you may need to restart the kernel to use updated packages.

  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 2.1 MB/s eta 0:00:00
Requirement already satisfied: joblib>=0.13.2 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.9.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.1.2)
Requirement already satisfied: setuptools in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (3.6.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.23.4)
Requirement already satisfied: cycler>=0.10 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.6)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.3.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in c:\users\kekli\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
from mlxtend.preprocessing import TransactionEncoder

te= TransactionEncoder()
teveri = te.fit_transform(veri)

veri=pd.DataFrame(teveri,columns=te.columns_)
veri

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [10]:
from mlxtend.frequent_patterns import apriori

df1 = apriori(veri,min_support=0.05,use_colnames=True)
df1

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
..      ...                                  ...
78     0.05         (TEA, BISCUIT, BREAD, MAGGI)
79     0.10  (COCK, COFFEE, CORNFLAKES, BISCUIT)
80     0.05            (MILK, JAM, BREAD, MAGGI)
81     0.05             (TEA, JAM, BREAD, MAGGI)
82     0.05      (MILK, TEA, COFFEE, CORNFLAKES)

[83 rows x 2 columns]

In [13]:
from mlxtend.frequent_patterns import association_rules
df2 = association_rules(df1,metric="confidence",min_threshold=0.5)
df2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
1,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000
2,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000
3,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400000
4,(BOURNVITA),(SUGER),0.20,0.30,0.10,0.500000,1.666667,0.0400,1.400000
...,...,...,...,...,...,...,...,...,...
141,"(MILK, TEA)","(COFFEE, CORNFLAKES)",0.05,0.20,0.05,1.000000,5.000000,0.0400,inf
142,"(MILK, COFFEE)","(TEA, CORNFLAKES)",0.05,0.10,0.05,1.000000,10.000000,0.0450,inf
143,"(MILK, CORNFLAKES)","(TEA, COFFEE)",0.10,0.05,0.05,0.500000,10.000000,0.0450,1.900000
144,"(TEA, COFFEE)","(MILK, CORNFLAKES)",0.05,0.10,0.05,1.000000,10.000000,0.0450,inf
145,"(TEA, CORNFLAKES)","(MILK, COFFEE)",0.10,0.05,0.05,0.500000,10.000000,0.0450,1.900000